#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/kde.mk

DEB_DH_INSTALL_ARGS = --sourcedir=debian/tmp
DEB_INSTALL_MANPAGES_kile := debian/kile.1

install/kile::
	# Install pixmap
	install -D -p -m0644 debian/kile.xpm debian/kile/usr/share/pixmaps/kile.xpm

